html {
    font-size: 100%;
    box-sizing: border-box;
    
}

body {
    font-family: 'Baskerville', serif ;
    color: black;
    background-color: rgb(245, 245, 245);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    margin: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

#controls-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#button-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-options {
    width: 100px;
    height: 50px;

}

.four-buttons {
    border-radius: 50px;
    border-width: 2px;
}

four-buttons

#slider-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}



#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(50, 1fr);
    box-shadow:  5px 5px 25px #888888;

}



.button-selected {
    background-color: lightgrey;
}